.header-container {
  @media screen and( min-width: $tablets) {
    @include centerFlex();
    margin-right: auto;
  }
}

.header-main__nav {
  @include centerFlex();
  margin-right: auto;

  @media screen and( max-width:767px) {
    padding: 15px 0;
    justify-content: space-between;
  }
}

.header {
  @media screen and( max-width:767px) {
    position: relative;
  }
}

.header-nav__link {
  padding: 32px 0;

  @media screen and( max-width:767px) {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
  }
}

.header-contact__link,
.header-nav__link {
  position: relative;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;

  transition: color 250ms $calc-animation;

  &:hover,
  &:focus {
    color: $actent-color;
  }
  @media screen and( min-width:481px) {
    display: block;
  }
}

.header-nav__link--active::after {
  @media screen and( min-width:$tablets) {
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: $actent-color;
    border-radius: 2px;
  }
}

.header-nav__link--active {
  color: $actent-color;
}

.header-nav {
  display: flex;
  margin-left: 93px;

  @media screen and( max-width:767px) {
    display: none;
  }
}

.header-nav__item:not(:last-child) {
  @media screen and( min-width:$tablets) {
    margin-right: 50px;
  }
}

.header-nav__item:last-child {
  @media screen and( max-width:767px) {
    margin-bottom: 302px;
  }
}

.header-nav__item {
  &.header-nav__item--studio {
    @media screen and( max-width:$mobile) {
      margin-bottom: 36px;
    }
  }
  &.header-nav__item--portf {
    @media screen and( max-width:$mobile) {
      margin-bottom: 32px;
    }
  }
}

.header-contact {
  display: flex;
  gap: 50px;
  list-style: none;

  @media screen and( max-width:767px) {
    display: none;
  }
  @media screen and( max-width:$desctop) {
    gap: 10px;
    flex-direction: column;
  }
  @media screen and( min-width:$desctop) {
    align-items: center;
  }
}

.header-contact__link {
  @include centerFlex();
  color: $title-text-color;

  @media screen and( max-width:$tablets) {
    font-weight: 500;
    line-height: 1.2;
    &.header-contact__link--tel {
      font-size: 34px;
      margin-bottom: 32px;
      color: $actent-color;
    }
    &.header-contact__link--mail {
      font-size: 24px;
      margin-bottom: 64px;
    }
  }

  @media screen and( max-width:374px) {
    &.header-contact__link--tel {
      font-size: 24px;
    }
  }
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

// Меню на мобільну версію

.button-mobile {
  @media screen and( min-width:$tablets) {
    display: none;
  }

  display: inline-flex;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  z-index: 2;

  .icon-close_mobile {
    display: none;
  }

  &.is-open .icon-close_mobile {
    display: block;
  }

  &.is-open .icon-menu_mobile {
    display: none;
  }
}

.menu-mobile {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 15px;
  text-align: center;

  @media screen and( max-width:$tablets) {
    &.is-open {
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 0;
      padding: 48px 40px;
      width: 100vw;
      height: 100%;
      background-color: $bg-color-body;
      z-index: 1;
    }
  }
}

.mobile-link {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu__mobile {
  @media screen and( max-width:$tablets) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.button-mobile__foto--position {
  position: fixed;
  top: 21px;
  right: 25px;
}

.mobile-separator {
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 15px;
}
