.header-container {
  @media screen and( min-width: 768px) {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}

.header-main__nav {
  display: flex;
  align-items: center;
  margin-right: auto;

  @media screen and( max-width:480px) {
    min-height: 60px;
    justify-content: space-between;
  }
}

.header {
  @media screen and( max-width:480px) {
    position: relative;
  }
}

.header-nav__link {
  padding: 32px 0;

  @media screen and( max-width:$mobile) {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
  }
}

.header-nav__link--bottom :last-child {
  @media screen and( max-width:$mobile) {
    margin-bottom: 302px;
  }
}

.header-contact__link,
.header-nav__link {
  position: relative;
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;

  transition: color 250ms $calc-animation;

  &:hover,
  &:focus {
    color: $actent-color;
  }
}

.header-nav__link--active::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: $actent-color;
  border-radius: 2px;
}

.header-nav__link--active {
  color: $actent-color;
}

.header-nav {
  display: flex;
  margin-left: 93px;

  @media screen and( max-width:$mobile) {
    display: none;
  }
}

.header-nav__item:not(:last-child) {
  @media screen and( min-width:$mobile) {
    margin-right: 50px;
  }
}
.header-nav__item:last-child {
  @media screen and( max-width:$mobile) {
    margin-bottom: 302px;
  }
}

.header-contact {
  display: flex;
  gap: 50px;
  list-style: none;

  @media screen and( max-width:$mobile) {
    display: none;
  }
  @media screen and( max-width:$desctop) {
    gap: 10px;
    flex-direction: column;
  }
  @media screen and( min-width:$desctop) {
    align-items: center;
  }
}

.header-contact__link {
  color: $title-text-color;
  align-items: center;
  display: flex;

  @media screen and( max-width:$mobile) {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 32px;
  }
  &.header-contact__link--tel {
    font-size: 34px;
  }
  &.header-contact__link--mail {
    font-size: 24px;
  }
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

// Меню на мобільну версію

.button-mobile {
  @media screen and( min-width:481px) {
    display: none;
  }

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  .icon-close_mobile {
    display: none;
  }

  &.is-open .icon-close_mobile {
    display: block;
  }

  &.is-open .icon-menu_mobile {
    display: none;
  }
}

.menu-mobile {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  font-size: 15px;
  text-align: center;

  &.is-open {
    display: block;
    padding: 40px;
    width: 480px;
    min-height: 796px;
    background-color: $bg-color-body;
  }
}

.mobile-link {
  display: flex;
  gap: 20px;
}

.header-menu__mobile {
  @media screen and( max-width:$mobile) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.button-mobile__foto {
  &:hover,
  &:focus {
    fill: $actent-color;
  }
}

// .mobil-list__link:nth-child(n+2)::after{
//   content: "";
//   display: block;
//   position: absolute;
//   background-color:rgba(33, 33, 33, 0.2);
//   width: 22px;
//   height: 1px;
//   top: 90%;
//   left:-10%;
//   transform-origin: bottom left;
//   transform: rotate(-900deg);
// }
