.header-container {
  @media screen and( min-width: 768px){
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}

.header-main__nav {
  display: flex;
  align-items: center;
  margin-right: auto;

  @media screen and( max-width:480px) {
    min-height: 60px;
    justify-content: space-between;
  }
}

.header {
  @media screen and( max-width:480px) {
    position: relative;
  }
}

.header-nav__link {
  padding: 32px 0;
}

.header-contact__link,
.header-nav__link {
  position: relative;
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;

  transition: color 250ms $calc-animation;

  &:hover,
  &:focus {
    color: $actent-color;
  }
}

.header-nav__link--active::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: $actent-color;
  border-radius: 2px;
}

.header-nav__link--active {
  color: $actent-color;
}

.header-nav {
  display: flex;
  margin-left: 93px;

  @media screen and( max-width:480px) {
    display: none;
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;

  @media screen and( max-width:480px) {
    display: none;
  }
}

.header-contact__link {
  color: $title-text-color;
  align-items: center;
  display: flex;
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

// Меню на мобільну версію

.button-mobile {
  @media screen and( min-width:481px) {
    display: none;
  }

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  .icon-close_mobile {
    display: none;
  }

  &.is-open .icon-close_mobile {
    display: block;
  }

  &.is-open .icon-menu_mobile {
    display: none;
  }
}

.menu-mobile {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: chocolate;
  font-size: 15px;
  text-align: center;

  &.is-open {
    display: block;
  }
}
