/* Footer */

.order {
  background-color: $bg-color-order;
  padding: 60px 0;
}

.order-box {
  @media screen and( max-width: $mobile) {
    display: flex;
    flex-direction: column;
  }
  @media screen and( min-width: $desctop) {
    display: flex;
    align-items: baseline;
  }
}

.order-box_tablets {
  display: flex;
  align-items: baseline;
  @media screen and( min-width: $tablets) and( max-width: $desctop) {
    justify-content: space-around;
    margin-bottom: 60px;
  }
  @media screen and( max-width: 767px) {
    display: block;
  }
}

.order-width {
  @media screen and( min-width:$desctop) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    min-width: 231px;
  }

  @media screen and( max-width:767px) {
    margin-bottom: 60px;
  }
  @media screen and( max-width:$desctop) {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}

.order-information {
  display: flex;
  flex-direction: column;
  gap: 9px;

  @media screen and( max-width: $desctop) {
    text-align: center;
  }
}

.info,
.mail {
  font-style: normal;
  line-height: 1.71;
}

.mail {
  color: $primary-white-color;
  text-decoration: none;
}

.info {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms $calc-animation;

  &:hover,
  &:focus {
    color: $actent-color;
  }
}
