/* Footer */

.order {
  background-color: $bg-color-order;
  padding: 60px 0;
}

.order-box {
  display: flex;

   @media screen and( max-width: $desctop) {
    display: block;
  }
}

.order-width {
  min-width: 231px;
  @media screen and( max-width:$desctop) {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-bottom: 60px;
  }
 
}

.order-adress {
  margin-top: 20px;
}

.order-information {
  display: flex;
  flex-direction: column;
  gap: 9px;

      @media screen and( max-width: $desctop) {
    text-align: center;
  } 
}

.info,
.mail {
  font-style: normal;
  line-height: 1.71;
}

.mail {
  color: $primary-white-color;
  text-decoration: none;
}

.info {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms $calc-animation;

  &:hover,
&:focus {
  color: $actent-color;
}
}



