/* Section what we do - Чим займаємось */

.section-reviers {
  @media screen and( max-width: $desctop) {
    display: none;
  }
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;

  @media screen and( max-width: $desctop) {
    font-size: 28px;
    line-height: 1.2;
  }
}

.section-work__list {
  @include centerFlex();
  color: $primary-text-color;
  list-style: none;
}

.section-works__item {
  position: relative;
}

.section-works__item:not(:last-child) {
  margin-right: 30px;
}

.section-product {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
