/* Section about work*/

.section-about {
  padding-bottom: 0;
}

.section-about__items {
  list-style: none;
  display: flex;

  @media screen and( max-width: $mobile) {
    display: block;
  }
  @media screen and( min-width: 481px) and (max-width: $desctop) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.section-about__list {
  @media screen and( min-width:$desctop) {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
   @media screen and( min-width:$tablets) and (max-width: $desctop){
       width: 354px;
    margin: 0 auto;
}
    }
  
   

.section-about__bg {
  @include centerFlex();
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: $primary-white-color;
}

.section-about__detals {
  @extend %titleStyle;
  margin-bottom: 10px;

  @media screen and( max-width: $mobile) {
    text-align: center;
  }
}

.section-about__title {
  @extend %titleStyle;
  color: $bg-color-body;
  text-align: center;
  padding-top: 27px;
}

.section-about__text {
  color: $title-text-color;
  font-size: 14px;
  line-height: 1.72;

  @media screen and( max-width: $desctop) {
    margin-bottom: 30px;
  }
}
