/* Section about work*/

.section-about {
  padding-bottom: 0;
}

.section-about__items {
  list-style: none;
  display: flex;

   @include max-mobile  {
    display: block;
  }
  @media screen and( min-width: 481px) and (max-width: 1200px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.section-about__list {
  @include desktop {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and( min-width:768px) and (max-width: 1200px) {
    width: 354px;
    margin: 0 auto;
  }
}

.section-about__bg {
  @include centerFlex();
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: $primary-white-color;
}

.section-about__detals {
  @extend %titleStyle;
  margin-bottom: 10px;

  @media screen and( max-width:767px) {
    text-align: center;
  }
}

.section-about__title {
  @extend %titleStyle;
  color: $bg-color-body;
  text-align: center;
  padding-top: 27px;
}

.section-about__text {
  color: $title-text-color;
  line-height: 1.7;

   @include max-desktop  {
    margin-bottom: 30px;
  }
}
