/* Social  */

.social-box {
  @media screen and( min-width: $desctop ) {
    margin-left: 70px;
  }
  @media screen and( max-width: $mobile ) {
    margin: 0;
    margin-bottom: 60px;
  }
  @media screen and( max-width: $desctop ) {
    text-align: center;
    display: flex;
    gap: 20px;
    text-align: center;
    flex-direction: column;
  }
}

.social-box__title {
  @extend %titleStyle;

  color: $primary-white-color;
  @media screen and( min-width: $desctop) {
    margin-bottom: 20px;
  }
}

.social-box__icon {
  display: flex;
  justify-content: center;
  gap: 10px;
}
