/* Logo */

.logo,
.logo-header {
  @include font(700, 26, null, null);
  font-family: "Raleway";
  text-decoration: none;
}

.logo {
  color: $primary-white-color;

  @include max-desktop {
    display: block;
    text-align: center;
  }
}

.logo-header {
  color: $primary-text-color;
  list-style: none;
}

.logo-header__color,
.logo-footer {
  color: $actent-color;
  text-decoration: none;
}
